################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.AssemblyInfoInputs.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.assets.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.csproj.AssemblyReference.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.GeneratedMSBuildEditorConfig.editorconfig
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/rpswa.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.removed.txt
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/PaymentTrackingSystem.Web.csproj.nuget.dgspec.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/PaymentTrackingSystem.Web.csproj.nuget.g.props
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/PaymentTrackingSystem.Web.csproj.nuget.g.targets
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/project.nuget.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.AssemblyInfoInputs.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.assets.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.csproj.AssemblyReference.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.GeneratedMSBuildEditorConfig.editorconfig
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/PaymentTrackingSystem.Web.Client.csproj.nuget.dgspec.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/PaymentTrackingSystem.Web.Client.csproj.nuget.g.props
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/PaymentTrackingSystem.Web.Client.csproj.nuget.g.targets
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/project.nuget.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentT.13CB581D.Up2Date
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.csproj.CoreCompileInputs.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.csproj.FileListAbsolute.txt
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.genruntimeconfig.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.MvcApplicationPartsAssemblyInfo.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.pdb
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.sourcelink.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/rbcswa.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/rjimswa.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.build.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.build.json.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.development.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js.map
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js.map.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.js.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.wasm
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.js.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.js.map
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.js.map.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/emcc-props.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/emcc-props.json.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/icudt_CJK.dat
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/icudt_CJK.dat.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/icudt_EFIGS.dat
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/icudt_EFIGS.dat.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/icudt_no_CJK.dat
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Authorization.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.Forms.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.Web.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Components.WebAssembly.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Metadata.wasm
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.AspNetCore.Metadata.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.CSharp.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Configuration.Abstractions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Configuration.Binder.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Configuration.FileExtensions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Configuration.Json.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Configuration.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.DependencyInjection.Abstractions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.DependencyInjection.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.FileProviders.Abstractions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.FileProviders.Physical.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.FileSystemGlobbing.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Logging.Abstractions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Logging.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Options.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Extensions.Primitives.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.JSInterop.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.JSInterop.WebAssembly.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.VisualBasic.Core.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.VisualBasic.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Win32.Primitives.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/Microsoft.Win32.Registry.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/mscorlib.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/netstandard.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/PaymentTrackingSystem.Web.Client.pdb
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/PaymentTrackingSystem.Web.Client.pdb.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/PaymentTrackingSystem.Web.Client.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.AppContext.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Buffers.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Collections.Concurrent.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Collections.Immutable.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Collections.NonGeneric.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Collections.Specialized.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Collections.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.ComponentModel.Annotations.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.ComponentModel.DataAnnotations.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.ComponentModel.EventBasedAsync.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.ComponentModel.Primitives.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.ComponentModel.TypeConverter.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.ComponentModel.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Configuration.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Console.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Core.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Data.Common.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Data.DataSetExtensions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Data.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.Contracts.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.Debug.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.DiagnosticSource.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.FileVersionInfo.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.Process.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.StackTrace.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.TextWriterTraceListener.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.Tools.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.TraceSource.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Diagnostics.Tracing.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Drawing.Primitives.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Drawing.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Dynamic.Runtime.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Formats.Asn1.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Formats.Tar.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Globalization.Calendars.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Globalization.Extensions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Globalization.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Compression.Brotli.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Compression.FileSystem.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Compression.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Compression.ZipFile.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.FileSystem.AccessControl.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.FileSystem.DriveInfo.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.FileSystem.Primitives.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.FileSystem.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.FileSystem.Watcher.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.IsolatedStorage.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.MemoryMappedFiles.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Pipelines.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Pipes.AccessControl.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.Pipes.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.UnmanagedMemoryStream.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.IO.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Linq.Expressions.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Linq.Parallel.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Linq.Queryable.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Linq.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Memory.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Net.Http.Json.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Net.Http.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Net.HttpListener.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Net.Mail.wasm.gz
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/bin/Debug/net8.0/wwwroot/_framework/System.Net.NameResolution.wasm.gz

/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentT.BE1C5CEA.Up2Date
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.csproj.CoreCompileInputs.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.csproj.FileListAbsolute.txt
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.MvcApplicationPartsAssemblyInfo.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.pdb
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.sourcelink.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/rbcswa.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/rjimswa.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/rpswa.dswa.cache.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/staticwebassets.build.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/staticwebassets.build.json.cache
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/staticwebassets.development.json
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
*.gz
*.vsidx
*.dll
*.suo
*.pdb
*.exe
*.runtime.json
*.endpoints.json
*.gz
*.wasm
*.scp.css
wwwroot/_framework/
*.wasm
*.js
*.br
*.gz
blazor.boot.json

*.dat
*.runtimeConfig.json
*.AsseblyInfo.cs
*.map
*.json
/PaymentTrackingSystem.Web/.vs/PaymentTrackingSystem.Web/v17/.suo
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web/obj/Debug/net8.0/PaymentTrackingSystem.Web.AssemblyInfo.cs
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Web.Client/obj/Debug/net8.0/PaymentTrackingSystem.Web.Client.AssemblyInfo.cs
*.config
*.cache
*.AssemblyAttributes.cs
*.g.cs
*.g.props
*.targets
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Core/obj/Debug/net8.0/PaymentTrackingSystem.Core.AssemblyInfo.cs
/PaymentTrackingSystem.Web/PaymentTrackingSystem.Core/obj/Debug/net8.0/PaymentTrackingSystem.Core.GeneratedMSBuildEditorConfig.editorconfig

*.DocumentLayout.json

/PaymentTrackingSystem.Web/.vs/PaymentTrackingSystem.Web/v17/DocumentLayout.json
