<div class="navbar navber-inverse navbar-fixed-top" style="background-color:#1A237E;width:100%;height:100px;">
    <div class="col-md-6">
        <div class="navbe-header" style="padding-left:1em;">
            @* <img src="/images/GDMLogo.png" style="width:35%; height:35%" /> *@
        </div>
    </div>
    <div class="col-md-6" align="right" style="padding-right:1em;">
        <div class="navbar-header">
            <b style="color:white;font-size:25px;">Payment Tracking System </b>
            &nbsp;
            <b style="color:white;font-size:xx-small;">Version:1</b>
        </div>
        <div class="navbar-header">
            <b style="color:white;font-size:13px;">
                Hello,Chandrakanth (CEO)
            </b>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="forgot-password">Log out</a>
        </div>
    </div>
</div>