@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="page" style="margin-left:11px;padding-top:10px;">
    <main role="main">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
