<div class="row">
    <div class="100%;">
        <ul class="nav-menu">
            <li>
                <NavLink href="/dashboard/home" activeClass="active">Dashboard</NavLink>
            </li>
            <li>
                <NavLink href="/client/clientList" activeClass="active">Clients</NavLink>
            </li>
            <li>
                <NavLink href="/clientPayments/clientPaymentList" activeClass="active">Payments</NavLink>
            </li>
            <li>
                <NavLink href="/paymentInterest/list" activeClass="active">Payment Interest</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Property</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Reports</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Settings</NavLink>
            </li>          

        </ul>
    </div>
</div>