<div class="row">
    <div class="100%;">
        <ul class="nav-menu">
            <li>
                <NavLink href="#" activeClass="active">Dashboard</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Clients</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Payments</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Property</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Reports</NavLink>
            </li>
            <li>
                <NavLink href="#" activeClass="active">Settings</NavLink>
            </li>
           

        </ul>
    </div>
</div>